{% load mptt_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PetriNet Editor</title>
    <!-- STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'objectify/styles.css' %}" />

    <!--End Style-->

    <!-- LIBRARIES -->
    <script src="{% static 'objectify/interact.js' %}"></script>
    <script src="{% static 'objectify/dom.jsPlumb-1.7.6.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <!--End Libraries-->
    <!-- SCRIPTS -->
    <script src="{% static 'objectify/toggleForm.js' %}"></script>
    <script>
        jsPlumb.ready(function(){
            jsPlumb.setContainer("container");
            jsPlumb.importDefaults({
                Anchor:"Continuous",
                Connector: ["Flowchart", {cornerRadius: 5}],
                Overlays: [
                    ["Arrow", {width:9, foldback:.7, location:.1}],
                    ["Arrow", {width:9, foldback:.7, location:.5}],
                    ["Arrow", {width:9, foldback:.7, location:.9}]],
                PaintStyle: { lineWidth:2, strokeStyle: "#800000" },
                MaxConnections:20,
            });

            {% for node in nodes %}
            jsPlumb.makeTarget("{{ node.uuid_name }}",{
                {% if node.shape == "O" %}
                scope:"L",
                anchor:["Perimeter", {shape:"Ellipse"}],
                {% elif node.shape == "L" %}
                scope:"O",
                anchor:["Perimeter", {shape:"Rectangle"}],
                {% endif %}
            });
            jsPlumb.makeSource("{{ node.uuid_name }}",{
                {% if node.shape == "O" %}
                scope:"O",
                anchor:["Perimeter", {shape:"Ellipse"}],
                {% elif node.shape == "L" %}
                scope:"L",
                anchor:["Perimeter", {shape:"Rectangle"}],
                {% endif %}
            });
            {% endfor %}
            jsPlumb.on(document.getElementById("toggle_connect"),'click',function(e){
            if (this.innerHTML == "/"){
                this.innerHTML = "D"
            }
            else {
                this.innerHTML = "/"
            }
            {% for node in nodes %}
                jsPlumb.toggleSourceEnabled("{{ node.uuid_name }}");
            {% endfor %}
                jsPlumbUtil.consume(e);
            });


            {% for wire in wires %}
            jsPlumb.connect({
                source:"{{ wire.source.uuid_name }}",
                target:"{{ wire.destination.uuid_name }}"
            });
            {% endfor %}
            jsPlumb.repaintEverything();

        });
    </script>
    <script src="{% static 'objectify/dragaction.js' %}"></script>


    <script>
        function saveSubmit(){
            {% for node in nodes %}
            document.getElementById('{{ node.uuid_name }}-x_val').childNodes[1]['value'] =
                document.getElementById('{{ node.uuid_name }}').style.left.slice(0,-2);

            document.getElementById('{{ node.uuid_name }}-y_val').childNodes[1]['value'] =
                document.getElementById('{{ node.uuid_name }}').style.top.slice(0,-2);

            {% endfor %}
            return true;
        }
    </script>

    <script>
        $(document).ready(function(){
        {% for node in nodes %}{% if node.children.all %}
            {% for child in node.children.all %}
            $("#{{ child.uuid_name }}").hide();
            jsPlumb.hide("{{ child.uuid_name }}", true);
            {% endfor %}
            $("#{{ node.uuid_name }}").dblclick(function(e){
                e.stopPropagation();
                $("#{{ node.uuid_name }}").css('visibility', 'hidden');
                jsPlumb.setTargetEnabled("{{ node.uuid_name }}", false);
                jsPlumb.hide("{{ node.uuid_name }}", true);
            {% for child in node.children.all %}
                $("#{{ child.uuid_name }}").show();
                $("#{{ child.uuid_name }}").css('visibility', 'visible');
                $("#{{ child.uuid_name }}").css('height', '100%');
                $("#{{ child.uuid_name }}").css('width', '100%');
                jsPlumb.show("{{ child.uuid_name }}", 'hide');
                jsPlumb.repaintEverything();
            {% endfor %}
            });
        {% endif %}{% endfor %}
        });
    </script>

</head>

<body>
<div id="toolbar" class="tool">
    <input type="button" value="+" id="add_button">
    <div id="save_unit">
        {% include 'objectify/save_units.html' %}
    </div>
    <div id="add_unit">
        <iframe id="add_u_form" src="/objectify/add" seamless="" height="300" width="300">
        </iframe>
    </div>
    <button id="toggle_connect">/</button>
</div>
<div id="container">
{% recursetree nodes %}
    <div class="draggable"
         id="{{ node.uuid_name }}"
         style="left:{{ node.x_val }}px; top:{{ node.y_val }}px;"
         data-x="{{ node.x_val }}"
         data-y="{{ node.y_val }}">
            <div class="
            {% if node.shape == 'O' %}
            ellipse
            {% elif node.shape == 'L' %}
            rect
            {% endif %}
            level-{{ node.level }}">
                {{ node.human_readable_name }}
        {% if not node.is_leaf_node %}
            {{ children }}
        {% endif %}
            </div>

    </div>
{% endrecursetree %}
</div>
</body>
</html>